body {
	background-color: purple;
	color: white;
	text-align: center;
	padding-top: 10%;
	font-family: fantasy;
}

img {
	width: 200px;
	border-radius: 10px;
	opacity: .7;
}

a {
	border: 1px solid white;
	padding: 20px;
	color: white;
	text-decoration: none;
	display: block;
	width: 100px;
	margin: 30px auto;
	border-radius: 10px;
	box-shadow: 0px 0px 30px rgba(255,255,255, .6);
}

a:hover {
	background-color: white;
	color: purple;
}
